{% extends 'base.html' %}


{% block content %}

<button type="button" class="btn btn-lg btn-primary"   data-bs-toggle="modal" data-bs-target="#tourModal">Add Tour</button>

<a href="{{ url_for('register') }}"><button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#regModal">Registration</button>
</a>

<div class="card" style="width: 18rem;" id="tours">
  {% for t in tours %}
  <div class="card-body">
    <div class="card-title">
    </div>
    <div class="card-text" id="tourCard{{ t.id }}">
                <ul id="tour{{ t.id }}">
                            <h5>{{ t.name }}</h5>
                            <li>{{ t.city }}</li>
                            <li>{{ t.days }}</li>
                            <li>{{ t.price }}$</li>
                            <li>{{ t.date }}</li>
<!--                        <button type="button" class="tour-buy">Buy now</button>-->
                </ul>

    </div>
  </div>
    {% endfor %}
</div>

<!--    <div id="tours">-->
<!--        {% for t in tours %}-->
<!--        <h3>{{ t.name }}</h3>-->
<!--        {% endfor %}-->
<!--    </div>-->


{% endblock %}



{% block register %}

<!--      <div class="modal fade" id="regModal" tabindex="-1" aria-labelledby="regModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h1 class="modal-title fs-5" id="regModalLabel">Modal title</h1>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--            <input type="text" id="userName" placeholder="name" > &lt;!&ndash; Форма для user &ndash;&gt;-->
<!--            <input type="text" id="userEmail" placeholder="email">-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--          <button type="button" class="btn btn-primary" id="saveForm">Save changes</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

{% endblock %}


{% block modals %}

<div class="modal fade" id="tourModal" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tourModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" id="tourName" placeholder="name">
            <input type="text" id="tourCity" placeholder="city">
            <input type="number" id="tourDays" placeholder="days">
            <input type="number" id="tourPrice" placeholder="price">
            <input type="date" id="tourDate" placeholder="date">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
          <button type="button" class="btn btn-primary" id="saveTour">Save changes</button>
      </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

  <script src="/static/js/create-tour.js"></script>
  <script src="/static/js/tour-buy.js"></script>

{% endblock %}
