{% extends 'base.html' %}


{% block content %}

<button type="button" class="btn btn-lg btn-primary"   data-bs-toggle="modal" data-bs-target="#tourModal">Add Tour</button>
<button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#regModal">Registration</button>

    <div id="tours">

        {% for t in tours %}
        <h3>{{ t.name }}</h3>
        {% endfor %}
    </div>
{% endblock %}



{% block register %}

      <div class="modal fade" id="regModal" tabindex="-1" aria-labelledby="regModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="regModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" id="name"> <!-- Форма для user -->
            <input type="text" id="email">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveForm">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block modals %}

  <div class="modal fade" id="tourModal" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tourModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" id="tourName"> <!-- Форма для створення туру -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveTour">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



{% block scripts %}

  <script src="/static/js/create-tour.js"></script>
  <script src="/static/js/register.js"></script>


{% endblock %}
